body{
    font-family: "Mulish", sans-serif;
}

main{
    margin-top: 64px;
}

h1, h2 {
    font-family: "DM Serif Display", sans-serif;
}

/* IDs y clases */

#menu-superior .active, #nav-contacto:hover{
    background-color: #00796B;
}

.popover-header{
    background-color: #004D40;
    color: #E0F2F1;
}

.navbar-brand, #opiniones .card-title, .carrusel-item h3{
    font-family: "DM Serif Display", sans-serif;
    font-size: 1.3em;
}

{

}